{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/static/css/main.css'>
    <title>{{block "title" .}}Default Title{{end}}</title>
</head>
<body>
<nav>
<div>
<a href='/'>Home</a>
{{if .AuthenticatedUser}}
<a href='/addTask'>Add Task</a>
{{end}}
</div>
<div>

<a href='/specialTask'>Special Task</a>
<form action='/logout' method='POST'>
<button>Logout</button>
</form>
<a href='/signup'>Signup</a>
<a href='/login'>Login</a>
</div>
</nav>

    <div class="content">
         {{block "body" .}}{{end}}
         <section>


    </section>
    </div>
</body>
</html>
{{end}}
